################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/obj/Release
/packages/SQLite.3.13.0
/packages
